In [2]:
#sequence= collection of values
Abhishek = ['Abhishek Singh Rathore', 36]
Anuraj = ['Anuraj Singh Rathore', 5]
print(Abhishek)
print(Anuraj)

['Abhishek Singh Rathore', 36]
['Anuraj Singh Rathore', 5]

In [3]:
#sequence contains another sequence
NewSeq = [Abhishek, Anuraj]
NewSeq

[['Abhishek Singh Rathore', 36], ['Anuraj Singh Rathore', 5]]

In [4]:
#Sequence Opertation
# 1. Indexing
greetings = "Hello"
print(greetings)
print(greetings[2])

Hello
l

In [5]:
greetings[-1]

'o'

In [6]:
#Even from input
var = input("Enter :")[1]
print(var)

Enter : abcd

b

In [7]:
# Print out a date, given year, month, and day as numbers
months = [
'January',
'February',
'March',
'April',
'May',
'June',
'July',
'August',
'September',
'October',
'November',
'December'
]
# A list with one ending for each number from 1 to 31
endings = ['st', 'nd', 'rd'] + 17 * ['th'] \
+ ['st', 'nd', 'rd'] + 7 * ['th'] \
+ ['st']
year = input('Year: ')
month = input('Month (1-12): ')
day = input('Day (1-31): ')
month_number = int(month)
day_number = int(day)
# Remember to subtract 1 from month and day to get a correct index
month_name = months[month_number-1]
ordinal = day + endings[day_number-1]
print(month_name + ' ' + ordinal + ', ' + year)

Year:  2020
Month (1-12):  4
Day (1-31):  3

April 3rd, 2020

In [8]:
#Slicing
tag = '<a href="http://www.python.org">Python web site</a>'
tag[9:30]  #start character 9, ending; 29

'http://www.python.org'

In [11]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(numbers[3:6] )
print(numbers[0:1] )

[4, 5, 6]
[1]

In [12]:
numbers[7:10]

[8, 9, 10]

In [13]:
numbers[-3:-1]

[8, 9]

In [14]:
numbers[-3:0]

[]

In [15]:
numbers[-1]

10

In [16]:
#Therefore, last item
numbers[-3:]

[8, 9, 10]

In [17]:
numbers[:3]

[1, 2, 3]

In [18]:
numbers[:]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [19]:
# Split up a URL of the form http://www.something.com
url = input('Please enter the URL:')
domain = url[11:-4]
print("Domain name: " + domain)

Please enter the URL: http://www.python.org

Domain name: python

In [20]:
#Longer Steps
print(numbers[0:10:1])  # one step
print(numbers[0:10:2]) # Two steps

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]

In [21]:
numbers[3:6:3]

[4]

In [22]:
numbers[::4]

[1, 5, 9]

In [23]:
print(numbers[8:3:-1])
print(numbers[10:0:-2])
print(numbers[0:10:-2])
print(numbers[::-2])
print(numbers[5::-2])
print(numbers[:5:-2])

[9, 8, 7, 6, 5]
[10, 8, 6, 4, 2]
[]
[10, 8, 6, 4, 2]
[6, 4, 2]
[10, 8]

In [24]:
#Adding Sequences
[1, 2, 3] + [4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [25]:
1, 2, 3] + 'world!'

SyntaxError: invalid syntax (<ipython-input-25-e27f02ca0424>, line 1)

In [26]:
#Multiplication of sequences
'python' * 5

'pythonpythonpythonpythonpython'

In [27]:
[42] * 10

[42, 42, 42, 42, 42, 42, 42, 42, 42, 42]

In [28]:
a =[]  #empty
print(a*10)

[]

In [29]:
a = [None]  #we haven’t put anything here yet
print(a*10)

[None, None, None, None, None, None, None, None, None, None]

In [30]:
# Prints a sentence in a centered "box" of correct width
sentence = input("Sentence: ")
screen_width = 80
text_width = len(sentence)
box_width = text_width + 6
left_margin = (screen_width - box_width) // 2
print()
print(' ' * left_margin + '+' + '-' * (box_width-2) + '+')
print(' ' * left_margin + '| ' + ' ' * text_width + ' |')
print(' ' * left_margin + '| ' + sentence + ' |')
print(' ' * left_margin + '| ' + ' ' * text_width + ' |')
print(' ' * left_margin + '+' + '-' * (box_width-2) + '+')
print()

Sentence:  Hello dear! how are you

                         +---------------------------+
                         |                         |
                         | Hello dear! how are you |
                         |                         |
                         +---------------------------+

In [33]:
#Memberships
permissions = 'rw'
'w' in permissions

True

In [34]:
'x' in permissions

False

In [35]:
users = ['mlh', 'foo', 'bar']
input('Enter your user name: ') in users

Enter your user name:  abhi

False

In [36]:
# Check a user name and PIN code
database = [
['albert', '1234'],
['dilbert', '4242'],
['smith', '7524'],
['jones', '9843']
]
username = input('User name: ')
pin = input('PIN code: ')
if [username, pin] in database: print('Access granted')

User name:  albert
PIN code:  4242

In [38]:
# Length, Minimum, and Maximum
print(len(numbers))
print(max(numbers))
print(min(numbers))

10
10
1

In [39]:
max(2,3,min(4,5,6))

4

In [40]:
# still we used list a lot
#list are mutables i.e. can change its items
list("hello")

['h', 'e', 'l', 'l', 'o']

In [41]:
x = [1,2,1]
print(x)
x[1]=9
print(x)

[1, 2, 1]
[1, 9, 1]

In [43]:
x = [1,2,3,4,5,6,7,8,9,10]
del x[2]

In [44]:
print(x)

[1, 2, 4, 5, 6, 7, 8, 9, 10]

In [46]:
#Assigning to Slices
name = list('Perl')
print(name)
name[2:] = list('ar')
print(name)

['P', 'e', 'r', 'l']
['P', 'e', 'a', 'r']

In [47]:
name = list('Perl')
name[1:] = list('ython')
name

['P', 'y', 't', 'h', 'o', 'n']

In [48]:
numbers = [1, 5]
numbers[1:1] = [2, 3, 4]
numbers

[1, 2, 3, 4, 5]

In [49]:
numbers[1:4] = []
numbers

[1, 5]

In [50]:
numbers[2] = 6

IndexError: list assignment index out of range

In [51]:
numbers.append(6)

In [52]:
numbers

[1, 5, 6]

In [53]:
numbers.clear()
numbers

[]

In [55]:
#copy list
a = [1,2,3]
b= a
print(b)
print(a)
b[2]=99
print(a)
print(b)

[1, 2, 3]
[1, 2, 3]
[1, 2, 99]
[1, 2, 99]

In [56]:
# Separate Copy
c =a.copy()
c[1]=99
print(c)
print(a)

[1, 99, 99]
[1, 2, 99]

In [57]:
d = a[:]
print(d)
d[1] ="hello"
print(d)
print(a)

[1, 2, 99]
[1, 'hello', 99]
[1, 2, 99]

In [58]:
e =list(d)
print(e)
e[2] = "world"
print(e)
print(d)

[1, 'hello', 99]
[1, 'hello', 'world']
[1, 'hello', 99]

In [62]:
print(a)
f = a 
f.append(45)
print(a)
print(f)

[1, 2, 99, 45]
[1, 2, 99, 45, 45]
[1, 2, 99, 45, 45]

In [63]:
#count
['to', 'be', 'or', 'not', 'to', 'be'].count('to')

2

In [64]:
x = [[1, 2], 1, 1, [2, 1, [1, 2]]]

In [65]:
print(x.count(1))
print(x.count([1,2]))

2
1

In [67]:
#extend
a = [1,2,3]
b = [5,7,9]
a.extend(b)
print(a)

[1, 2, 3, 5, 7, 9]

In [68]:
c = [1,2,3,,5]

SyntaxError: invalid syntax (<ipython-input-68-a8b6f8466152>, line 1)

In [70]:
a = [1,2,3]
b = [5,7,9]
print(a+b)
print(a)
c = a+b
print(c)

[1, 2, 3, 5, 7, 9]
[1, 2, 3]
[1, 2, 3, 5, 7, 9]

In [71]:
#another way to extension
a[len(a):] = b
print(a)

[1, 2, 3, 5, 7, 9]

In [1]:
#Index
knights = ['We', 'are', 'the', 'knights', 'who', 'say', 'ni']
knights.index('who')

4

In [2]:
knights[4]

'who'

In [3]:
#insert at position
numbers = [1, 2, 3, 5, 6, 7]
numbers.insert(3, 'four')
numbers

[1, 2, 3, 'four', 5, 6, 7]

In [4]:
#insert with slice
numbers = [1, 2, 3, 5, 6, 7]
numbers[3:3] = ['four']
numbers

[1, 2, 3, 'four', 5, 6, 7]

In [9]:
#poping out items
x = [1,2,3]
x.pop()

3

In [8]:
#pop from a location
x.pop(0)  #pop 1st item and prints popped item

1

In [11]:
#appeding the poped item
x = [1,2,3]
x.append(x.pop())
print(x)

[1, 2, 3]

In [12]:
#The remove method is used to remove the first occurrence of a value.
x = ['to', 'be', 'or', 'not', 'to', 'be']
x.remove('be')
print(x)

['to', 'or', 'not', 'to', 'be']

In [22]:
#reverses the list but, does not returns any thing
x= [1,2,3,8,3,6]
print(x)
x.reverse()
print(x)

[1, 2, 3, 8, 3, 6]
[6, 3, 8, 3, 2, 1]

In [23]:
#but if you want to iterate over list
print(x)
a =list(reversed(x))
print(a)

[6, 3, 8, 3, 2, 1]
[1, 2, 3, 8, 3, 6]

In [25]:
#Sort
x.sort()  #does not returns any thing
print(x)

[1, 2, 3, 3, 6, 8]

In [29]:
x = [6,2,45,4,5,6]
y=x.sort()
print(y)

None

In [31]:
#if you need an unsorted copy
x = [6,2,45,4,5,6]
y=x.copy()
y.sort()
y

[2, 4, 5, 6, 6, 45]

In [33]:
#to get reutrned list
x = [4, 6, 2, 1, 7, 9]
y = sorted(x)
print(x)
print(y)

[4, 6, 2, 1, 7, 9]
[1, 2, 4, 6, 7, 9]

In [34]:
sorted("Python")  #A-Z then a-z
#descending order =?

['P', 'h', 'n', 'o', 't', 'y']

In [35]:
#Advance Sorting
# Two parameters "key" and "reverse"
x = ['aardvark', 'abalone', 'acme', 'add', 'aerate']
x.sort(key=len)
x

['add', 'acme', 'aerate', 'abalone', 'aardvark']

In [36]:
x = [4, 6, 2, 1, 7, 9]
x.sort(reverse=True)
x

[9, 7, 6, 4, 2, 1]

In [37]:
#Tuples: Immutable Sequences  : can't be changed
1,2,3

(1, 2, 3)

In [38]:
(1,2,3)

(1, 2, 3)

In [39]:
#Difference [] and ()

In [40]:
#empty tuple
()

()

In [41]:
# tuple with one item
42

42

In [42]:
# Not that way
# correct way
42,0

(42, 0)

In [43]:
# or
(42,)

(42,)

In [44]:
#difference between parenthesis and tuple
x = 3 * (40 + 2)
print(x)
y = 3 * (40 + 2,)
print(y)

126
(42, 42, 42)

In [45]:
#The tuple function works in pretty much the same way as list: it takes one sequence argument and converts it to a tuple
print(tuple([1, 2, 3]))
print(tuple('abc'))
print(tuple((1, 2, 3)))

(1, 2, 3)
('a', 'b', 'c')
(1, 2, 3)

In [46]:
#another way to creating tuple
x = 1, 2, 3
x

(1, 2, 3)

In [47]:
#len(seq) Returns the length of a sequence
#list(seq) Converts a sequence to a list
#max(args) Returns the maximum of a sequence or set of arguments
#min(args) Returns the minimum of a sequence or set of arguments
#reversed(seq) Lets you iterate over a sequence in reverse
#sorted(seq) Returns a sorted list of the elements of seq
#tuple(seq) Converts a sequence to a tuple